.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--colorNeutralBackground2);
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--colorNeutralStroke1);
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--colorNeutralStroke1Hover);
}
