.welcome-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.welcome-sidebar {
    width: 33.33%;
    background-color: var(--colorNeutralBackground2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--layout-horizontal-padding);
    /* Added to offset logo correctly */
    padding-top: 80px;
    border-right: 1px solid var(--colorNeutralStroke1);
    min-height: 300px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.welcome-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    object-fit: contain;
    transform: scale(1.2);
    transform-origin: right top;
}

.welcome-content {
    width: 66.66%;
    height: 100%;
    padding: 32px var(--layout-horizontal-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.welcome-text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.welcome-footer-content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.welcome-footer {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--colorNeutralStroke1);
    background-color: var(--colorNeutralBackground1);
    height: 88px;
    box-sizing: border-box;
    margin-top: auto;
}

.welcome-footer__sidebar {
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
    height: 100%;
}

.welcome-footer__content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--layout-horizontal-padding);
    box-sizing: border-box;
}

.welcome-screen__root {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.welcome-screen__dropdown {
    height: 40px;
}
